@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ProjectMonitoring.User.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProjectMonitoring.ProjectMonitoring.UserGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>