{
    "RootNamespace": "ProjectMonitoring",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=ProjectMonitoring_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=ProjectMonitoring_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "ProjectMonitoring",
            "ConnectionString": "Data Source=ANHTUAN-PC;Initial Catalog=ProjectMonitoring;User ID=sa;Password=123456",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Posts",
                    "Identifier": "Posts",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                },
                {
                    "Tablename": "dbo.Classes",
                    "Identifier": "Classes",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                },
                {
                    "Tablename": "dbo.SCMs",
                    "Identifier": "SCMs",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                },
                {
                    "Tablename": "dbo.SCMTypes",
                    "Identifier": "SCMTypes",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                },
                {
                    "Tablename": "dbo.Subjects",
                    "Identifier": "Subjects",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                },
                {
                    "Tablename": "dbo.User",
                    "Identifier": "User",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                },
                {
                    "Tablename": "dbo.UserClasses",
                    "Identifier": "UserClasses",
                    "Module": "ProjectMonitoring",
                    "ConnectionKey": "ProjectMonitoring",
                    "PermissionKey": "PM:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\ProjectMonitoring\\ProjectMonitoring.Web\\ProjectMonitoring.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}